.header_container {
  width: 13vw;
  height: 100vh;
  min-width: 70px;
  max-width: 180px;
  background: #474a51;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 25px;
  border-radius: 0 6px 6px 0;
}
.nav_link {
  color: var(--my_grey) !important;
  font-size: 18px !important;
}
.nav_link:hover {
  color: var(--my_lazur) !important;
}
.header_container_pages {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.logo_and_link {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.logo {
  min-width: 50px;
  max-width: 120px;
}
