.container_value {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex-direction: column;
  margin-bottom: 18px;
}
.container_value-text,
.container_value-inpt,
.container_value-inpt_span {
  cursor: pointer;
  font-size: var(--f1);
  transition: all 0.3s ease;
}
.container_value-text:hover {
  color: var(--my_lazur_v2);
}
.container_value-inpt {
  border: none;
  border-bottom: 1px solid var(--my_lazur_v2);
  background: var(--my_lazur_v2_50);
  border-radius: 6px;
  padding: 8px;
  display: block;
  width: 100%;
  min-width: 320px;
}
.container_value-btn {
  cursor: pointer;
  font-size: var(--f1);
  transition: all 0.3s ease;
  border: 1px solid var(--my_lazur_v2);
  border-radius: 6px;
}
.container_value-btn:hover {
  background: var(--my_lazur_v2);
  color: white;
}
.container_input {
  display: flex;
  gap: 10px;
}
.container_value_name {
  color: var(--my_lite_grey);
  font-weight: 500;
  font-size: var(--f0);
}
.span_btn {
  font-size: var(--f0);
  transition: all 0.3s ease;
  border-radius: 6px;
  padding: 4px 10px;
  width: fit-content;
  cursor: pointer;
}
.span_btn:hover {
  background: var(--my_lazur_v2);
  color: white;
}
.btn_v1 {
  cursor: pointer;
  padding: 5px 8px;
  min-width: 92px;
  border: 1px solid var(--my_lazur_v2);
  border-radius: 5px;
  /* color: var(--my_lite_grey); */
  font-size: revert;
  position: relative;
  transition: all 0.6s ease;
}
.add_btn {
  min-width: 34px;
  min-height: 34px;
  max-width: 34px;
  max-height: 34px;
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--my_lite_grey);
  cursor: pointer;
  transition: all 0.4s ease;
}
.add_btn:hover {
  background: var(--my_lazur_v2);
  border: 1px solid var(--my_lazur_v2);
}
.add_btn::after {
  content: "+";
  font-weight: 400;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add_btn:hover::after {
  color: white;
}
.container_header_back_btn {
  width: 100%;
  margin: 1vh 0 2vh;
  display: flex;
  justify-content: space-between;
}
.inpt_v1 {
  border: 1px solid var(--my_lazur_v2);
  background: none;
  height: 35px;
  border-radius: 6px;
  padding-left: 10px;
  width: 185px;
}
.my_checkbox_v1,
.my_checkbox_v1_active {
  cursor: pointer;
  display: block;
  width: 32px;
  height: 17px;
  border: 1px solid var(--my_lazur_v2);
  border-radius: 3px;
  position: relative;
  padding: 1px;
}
.my_checkbox_v1 {
  display: flex;
  justify-content: flex-start;
}
.my_checkbox_v1_active {
  display: flex;
  justify-content: flex-end;
}
.my_checkbox_v1::after {
  content: "";
  width: 13px;
  height: 13px;
  background: #9bafb1;
  display: block;
  border-radius: 3px;
}
.my_checkbox_v1_active::after {
  content: "";
  width: 13px;
  height: 13px;
  background: var(--my_lazur_v2);
  display: block;
  border-radius: 3px;
}
.cls_hover_v1 {
  position: absolute;
  z-index: 99;
  top: -45px;
  left: -50px;
  background: var(--modal_grey);
  padding: 12px 10px;
  text-wrap-mode: nowrap;
  /* width: 320px; */
  border-radius: 8px;
  color: white;
}
.delete_icon {
  cursor: pointer;
  border: none;
  background: url("./../images/icons/remove.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  transition: all 0.6s ease;
}
.delete_icon:hover {
  background: url("./../images/icons/remove_red.png");
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.textarea_v1 {
  border: 1px solid var(--my_lazur_v2);
  background: none;
  height: 100px;
  border-radius: 6px;
  padding-left: 10px;
  width: 400px;
}
